<div class="header">
    <h1>PlantScopus</h1>
  </div>
  <app-searchbar></app-searchbar>
  <br>



  <div class="card">
    <!-- <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap"> -->
    <div *ngFor="let plant of plants" class="plant-card">
      <div class="card-body">
      <h4 class="card-title">{{ plant.name}}</h4>
      {{ plant.description }}<br />
      <strong>💧💧Watering scheudle:</strong>
      {{ getWateringScheduleDescription(plant.wateringSchedule) }}<br />
      <strong>🗓️Last watered:</strong> 
      {{ plant.lastWatered | date }}<br />
      <img
        [src]="getPlantImage(plant)"
        alt="{{ plant.name }}"
        style="height: 350px; width: 500"
      />
      <button mat-button color="primary" (click)="updateLastWatered(plant)"></button>
      <a (click)="updateLastWatered(plant)" class="btn btn-primary">Water</a>
    </div>
  </div>

  <div>
    <mat-card-title> Add a new plant: </mat-card-title>
    <mat-card-actions>
      <form (submit)="addPlant()">
        <input
          type="text"
          [(ngModel)]="newPlant.name"
          name="name"
          placeholder="Name"
          required
        /><br />
        <input
          type="text"
          [(ngModel)]="newPlant.latinName"
          name="latinName"
          placeholder="LatinName"
        /><br />
        <input
          type="text"
          [(ngModel)]="newPlant.description"
          name="description"
          placeholder="Description"
        /><br />
        <label for="wateringSchedule">Watering Schedule:</label><br />
        <select [(ngModel)]="newPlant.wateringSchedule" name="wateringSchedule">
          <br />
          <option *ngFor="let schedule of wateringSchedules" [value]="schedule">
            {{ schedule }}
          </option>
        </select>
        <div>
          <label for="plantImage">Plant Image:</label>
          <input
            type="file"
            id="plantImage"
            name="plantImage"
            (change)="onFileChange($event)"
            accept="image/png"
          />
          <img *ngIf="imageUrl" [src]="imageUrl" alt="Plant Image" />
        </div>
        <button type="submit">Add Plant</button>
      </form>
    </mat-card-actions>
  </div>

  <router-outlet></router-outlet>
  