<div class="footer">
  <div class="column">
    <div class="logo-container">
   
    </div>
  </div>
  <div class="column">
   <div class="logo-container"> <img
    [src]="getLogo()"
    alt="plantscopus logo"
    style="height: 10%; width: 10%"
  />
</div>
  <div>
      <h2>Contact Us<br /></h2>
      <h3>e-mail | plantscopus&commat;gmail.com</h3>
      <h3>phone | +32 473733372</h3>

      <h3>PlanScopus is a pet project built with Spring Boot and Angular</h3>
      <p>
        We are an award-winning creative agency, dedicated to the best result in
        web design, promotion, business consulting, and marketing.
      </p>
    </div>
  </div>
  <div class="column">Column 3 Content</div>
</div>
